
.navbar-dashboard{
    display: flex;
    padding: 35px;
    background-color: black;
    justify-content: space-between;
    color: white;
}
.navbar-dashboard .button {
    color: white;
    padding: 25px;
}
